@ charset "UTF-8";

body {
    font: normal 16px Arial, Verdana, Serif;
    text-align: left;
}

h1  {
   text-align: center;
}

h2  {
   text-align:right;
}

p {
   text-adlign: justify;
   text-indent: 30px;
}