@charset "UTF-8";

/*
    Em HTML é id = em CSS é # (Pode somente um elemento com o mesmo id em um documento HTML)
    Em HTML é class = em CSS é . (Pode varios elementos com o mesmo class em um documento HTML)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, Sans-serif;
}

h1   { 
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    color: rgb(4, 109, 0);
}

h2   {
    color: rgb(73, 109, 71);
}

.basico {
    color:#3c805e;
    font-weight:bold;
}

.intermediario {
    color:#80793c;
}

.avancado {
    color:#803c3c;
}

.destaque {
    background-color: #c5c56070;
}